package ${packageName}.modules.${moduleName}.web;

import cn.people.one.core.base.api.Result;
import cn.people.one.modules.${moduleName}.model.${ClassName};
import cn.people.one.modules.${moduleName}.service.impl.${ClassName}Service;
import lombok.extern.slf4j.Slf4j;
import org.apache.commons.lang3.StringUtils;
import org.nutz.dao.Cnd;
import org.nutz.dao.Condition;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import static cn.people.one.core.base.page.SimplePage.DEF_PAGE_SIZE;

/**
* ${functionName}Controller
* @author ${author}
*/
@RestController
@RequestMapping("/${adminPath}/${moduleName}/${controllerPath}/")
@Slf4j
public class ${ClassName}Controller {

    @Autowired
    private ${ClassName}Service ${className}Service;

    @RequestMapping(value = {"list", ""}, method = RequestMethod.GET)
    public Result list(String title,
                            @RequestParam(defaultValue = "1") int pageNo,
                            @RequestParam(defaultValue = DEF_PAGE_SIZE) int pageSize) {

        Condition cnd = Cnd.NEW();
        if(StringUtils.isNotEmpty(title)){
            cnd = Cnd.where("title", "=", title);
        }

        return Result.success(${className}Service.listPage(pageNo, pageSize, cnd, "id|title"));
    }

    @RequestMapping(value = "/{id}", method = RequestMethod.GET)
    public Result view(@PathVariable Integer id) {
        return Result.success(${className}Service.fetch(id));
    }

    @RequestMapping(method = RequestMethod.POST)
    public Result save(@RequestBody ${ClassName} ${className}) {
        ${className}Service.save(${className});
        return Result.success(${className});
    }

    @RequestMapping(value = "/{id}", method = RequestMethod.DELETE)
    public Result delete(@PathVariable Integer id) {
        return Result.success(${className}Service.delete(id));
    }

}