package ${packageName}.modules.${moduleName}.dao;

import cn.people.one.core.base.dao.BaseDao;
import cn.people.one.modules.${moduleName}.model.${ClassName};
import org.springframework.context.annotation.Configuration;

/**
 * ${functionName}Dao
 * @author ${author}
 */
@Configuration
public class ${ClassName}Dao extends BaseDao<${ClassName}>{

}