package ${packageName}.modules.${moduleName}.model;

import cn.people.one.modules.base.BaseModel;
import lombok.Data;
import org.nutz.dao.entity.annotation.*;

/**
* ${functionName}
* @author ${author}
* @version ${version}
*/
@Table("${moduleName}_${className}")
@Data
public class ${ClassName} extends BaseModel {

    @Column
    @ColDefine(width = 200)
    @Comment("标题")
    private String title;

}