package ${packageName}.modules.${moduleName}.service.impl;

import cn.people.one.core.base.service.impl.BaseService;
import cn.people.one.modules.${moduleName}.dao.${ClassName}Dao;
import cn.people.one.modules.${moduleName}.model.${ClassName};
import cn.people.one.modules.${moduleName}.service.I${ClassName}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
* ${functionName}Service
* @author ${author}
*/
@Service
@Transactional(readOnly = true)
public class ${ClassName}Service extends BaseService<${ClassName}Dao,${ClassName}> implements I${ClassName}Service {

    @Autowired
    private ${ClassName}Dao ${className}Dao;

}