package ${packageName}.modules.${moduleName}.service;

import cn.people.one.core.base.service.IBaseService;

/**
* ${functionName}Service
* @author ${author}
* @version ${version}
*/
public interface I${ClassName}Service extends IBaseService{

}